.tarjeta {
    border-radius: 5%;
    background-color: rgb(230, 230, 230);
}

.fuenteTarjetaIdiomas{
    font-size: 0.8em;
}

.banderaTarjetaAlumno{
    width: 100%;
}

.datos {
    background-color: white;
}

.negritaTarjeta {
    font-weight: 500;
}

.imagenTarjeta {
    width: 100%;
}