.imagenCuerpo{
    width: 80%;
}

.marginTop6{
    margin-top: 6rem;
}

.paddingTop6{
    padding-top: 6rem;
}

.home{
    min-height: 80vh;
    background-image: url(../../assets/logo/mp-logoNaranja10fondo.png);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-size: 30px;
}