.logoNavbar {
    width: 55%;
}

.tituloHeader{
    font-family: 'Shantell Sans', cursive !important;
    font-weight: 700 !important;
    font-size: 2.2em;
}


.bandera{
    width: 40px;
}

.cambioIdioma{
    border: none !important;
}
