#root {
  text-align: center;
  width: 100%;
  min-height: 840px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.fondoNegro{
  background-color: #000;
}

.fuenteBlanca{
  color: #FFF;
}

header{
  width: 100%;
}

header, .cuerpo-izquierda{
  text-align: center;
}

.cuerpo-izquierda{
  width: 15%;
  height: 700px;
}

.filtros{
  height: 87%;
}

.genero{
  height: 70%;
}

.listaGenero{
  font-size: 119%;
  width: 50%;
  height: 90%;
}

.plataforma{
  height: 21%;
}

.listaPlataforma{
  width: 50%;
  font-size: 119%;
}

