.colorBlanquecino{
  color: #f1f1e6 !important;
}

.fondoColorBlanquecino{
  background-color: #f1f1e6 !important;
}

.colorNaranja{
  color: #ce7d2d !important;
}

.fondoColorNaranja{
  background-color: #ce7d2d !important;
}

.colorAzulado{
  color: #b8d3df !important;
}

.fondoColorAzulado{
  background-color: #b8d3df !important;
}

.colorOscuro{
  color: #364f59 !important;
}

.fondoColorOscuro{
  background-color: #364f59 !important;
}


.cuerpo{
  max-width: 1800px !important;
}